#boodschappenlijst {
    font-family: sans-serif;
    border-collapse: collapse;
    text-align:right;

    th, td {
        border: 1px solid #888;
        padding: 10px;
    }

    th, .productName {
        text-align:left;
    }
}

.wrapper {
    width: 940px;
    margin: 0px auto;
}

nav {
    background-color: lightgreen;
    li {
        display: inline;

        a {
            color: green;
        }

        a.current {
            font-weight: bold;
            color: darkgreen;
        }
    }
}

fieldset {
    width: 310px;

    label {
        float: left;
        width: 120px;
    }

    input {
        text-align: right;
    }
}

.submit {
    margin-top: 10px;
    text-align: right;
}